<!DOCTYPE html>
<html lang="en">

@{
    Layout = "_AdminLayout";
}

<body>

    <div class="main-wrapper">
        <div class="header">

            <div class="header-left">
                <a href="/Admin/Dashboard" class="logo">
                    <img src="~/Home/img/logoTest7Hedar-removebg-preview.png" width="35" height="35" alt=""> <span>Ziyara</span> 
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">    
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="assets/img/user.jpg" width="24">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                         @* <a class="dropdown-item" href="profile.html">My Profile</a>  *@
                         @* <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>  *@
                        <a class="dropdown-item" href="/">Home</a>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>

            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a asp-controller="Admin" asp-action="Dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="ApproveList"><i class="fa fa-user"></i> <span>Providers </span></a>
                        </li>
                        <li>
                            <a asp-controller="Users" asp-action="Users"><i class="fa fa-user-o"></i> <span>Users</span></a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="ProviderList"><i class="fa fa-list"></i> <span>Providers List</span></a>
                        </li>
                        <li >
                            <a asp-controller="Admin" asp-action="Testimonial"><i class="fa fa-address-card"></i> <span>Testimonial</span></a>
                        </li>
                        <li >
                            <a asp-controller="Admin" asp-action="plans"><i class="fa fa-money"></i><span>Manage Plans</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="@Url.Action("ProviderList", "Admin")" class="text-decoration-none">
                            <div class="dash-widget">
                                <span class="dash-widget-bg1"><i class="fa fa-users" aria-hidden="true"></i></span>
                                <div class="dash-widget-info text-right">
                                    <h3 style="color:black">@ViewBag.count</h3>
                                    <span class="widget-title1">Providers <i class="fa fa-check" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3 style="color:black" id="totalUsersCount">@ViewBag.countuser</h3>
                                <span class="widget-title2">Count User <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>

                  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                        <span class="dash-widget-bg3"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3 style="color:black">@ViewBag.test</h3>
                                <span class="widget-title3">Testmoinial <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg4"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3 style="color:black">@ViewBag.pending</h3>
                                <span class="widget-title4">Pending <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="chart-title">
                                    <h4>Total Patient </h4>
                                    <span class="float-right">
                                        <i class="fa @(ViewBag.IsUp ? "fa-caret-up text-success" : "fa-caret-down text-danger")" aria-hidden="true"></i>
                                        @Math.Abs(ViewBag.PercentChange)% @(ViewBag.IsUp ? "Higher" : "Lower") than Last Month
                                    </span>
                                </div>
                                <canvas id="patientChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            var patientData = @Html.Raw(Json.Serialize(ViewBag.PatientData));

            const ctx = document.getElementById('patientChart').getContext('2d');
            const chart = new Chart(ctx, {
                type: 'line', // Change to 'bar', 'area', etc. if needed
                data: {
                    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                             'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    datasets: [{
                        label: 'Registered Patients',
                        data: patientData,
                        backgroundColor: 'rgba(0, 123, 255, 0.3)',
                        borderColor: '#007bff',
                        fill: true,
                        tension: 0.3
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Patient Total'
                        }
                    }
                }
            });
        </script>
    }
</body>



</html>