
<!DOCTYPE html>
<html lang="en">

@{
    Layout = "_dashLayout";
}
<!-- edit-profile23:03-->


<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="/Doctor/Dashboard" class="logo">
                    <span>Ziyara</span>
                    @* <img src="~/dash/img/doctorlogo.jpg" width="35" height="35" alt=""> <span>Doctor</span> *@
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
              
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="@ViewBag.img" width="24">
                            <span class="status online"></span>
                        </span>
                        <span>Guide.@ViewBag.name</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/">Home</a>
                        <a class="dropdown-item" asp-controller="Guide" asp-action="ProfileD"  >My Profile</a>
                        <a class="dropdown-item" asp-controller="Guide" asp-action="editd">Edit Profile</a>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                            <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a asp-controller="Guide" asp-action="Dashboarder"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>

                        <li>
                            <a asp-controller="Guide" asp-action="aprovel"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                        </li>
                        <li>
                            <a asp-controller="Guide" asp-action="History"><i class="fa fa-clock-o"></i> <span>History</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Edit Profile</h4>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="card-box">
                        <h3 class="card-title">Basic Informations</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-image-edit">
                                    <h4>Service Provider Images</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Upload New Images</label>
                                                <input type="file" class="form-control" name="apartmentImages" multiple accept="image/*">
                                                <small class="text-muted">You can select multiple images at once</small>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Display current images for editing -->
                                    @if (ViewBag.Images != null && ViewBag.Images.Count > 0)
                                    {
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <h5>Current Images</h5>
                                                <div class="row">
                                                    @foreach (var image in ViewBag.Images)
                                                    {
                                                        <div class="col-md-3 mb-3">
                                                            <div class="image-container" style="position: relative; height: 150px;">
                                                                <img src="@image.FilePath" alt="Property Image" class="img-thumbnail" style="width: 100%; height: 100%; object-fit: cover;">
                                                                <div class="image-actions" style="position: absolute; top: 5px; right: 5px;">
                                                                    <input type="checkbox" name="deleteImages" value="@image.Id"> Remove
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="mt-2">
                                                    <small class="text-muted">Check the images you want to remove</small>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Full Name</label>
                                                <input type="text" class="form-control floating" value="@ViewBag.name" name="fullname">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">City</label>
                                                <input type="text" class="form-control floating" value="@ViewBag.city" name="city">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Price </label>
                                                <input type="text" class="form-control floating" value="@ViewBag.price" name="price">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Experience</label>
                                                <input type="text" class="form-control floating" value="@ViewBag.experience" name="experience">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Email</label>
                                                <input type="text" class="form-control floating" value="@ViewBag.email" name="email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Language</label>
                                                <input type="text" class="form-control floating" value="@ViewBag.lanaguage" name="lanaguage">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Supported Area</label>
                                                <input type="text" class="form-control floating" value="@ViewBag.area" name="area">
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center m-t-20">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>


<!-- edit-profile23:05-->
</html>